{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss", 
    "prettier-plugin-svelte",
  ],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "singleQuote": true,
  "printWidth": 200,
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": true,
  "tailwindStylesheet": "./src/app.css"
}
